# Compiled files
*
!*.*
*.o
*.out
*.exe
a.out
.vscode
*.txt

# Keep source files
!*.c
!*.cpp
!*.py
!*.h
!Makefile
!*.md
!.gitignore
!*/

# Unwanted folders
DSA/
python\ files/
selenium/

#Some frequently changin files not useful
0_Test_Programsc.c
0_Test_Programscpp.cpp
**/.vscode/*